@import "tailwindcss";
@import "../styles/dark.css";
@import "../styles/theme.css";

/* No Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}