_format_version: "1.1"
services:
  - name: auth-v1
    url: http://auth:9999
    routes:
      - name: auth-v1
        strip_path: true
        paths:
          - /auth/v1

  - name: rest-v1
    url: http://rest:3000
    routes:
      - name: rest-v1
        strip_path: true
        paths:
          - /rest/v1

  - name: realtime-v1
    url: http://realtime:4000
    routes:
      - name: realtime-v1
        strip_path: true
        paths:
          - /realtime/v1

  - name: storage-v1
    url: http://storage:5000
    routes:
      - name: storage-v1
        strip_path: true
        paths:
          - /storage/v1

  - name: meta
    url: http://meta:8080
    routes:
      - name: meta
        strip_path: true
        paths:
          - /pg/v1
